@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Rubik:wght@300..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');

@import "tailwindcss";

@layer base {
  :root {
    --color-primary: #E48C2A;
    --ordinary-red: #f74f4f;
    --color-dark: #000000;
    --color-light: #FFFFFF;
    --color-secondary: #4D4D4D;
  }
}